[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: $white;
}

.icon-thumb-up,
.icon-thumb-down {
    width: 30px;
    height: 30px;
}

.icon-home {
    width: 25px;
    height: 22px;
}

.icon-lock {
    width: 20px;
    height: 20px;
}

.icon-user {
    width: 20px;
    height: 20px;
}

.icon-add {
    width: 24px;
    height: 25px;
}